.App {
  
  display: flex;
  background-image: url("./styles/mercado_libre.jpg");
  background-repeat: no-repeat;
  margin-top: 10px;
  vertical-align: middle;
  height: 50px;
  align-items: center;

}
.button{
  background-color: rgb(241, 247, 247);
  width: 20px;
  height: 25px;
  margin-top: 20px;
  margin-bottom: 30px;
  align-items:center;
  background-image: url('./styles/lupa.jpeg.jpg')  ;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  vertical-align:auto;
  align-items: center;
}
.holder{
  margin-top:auto;
  margin-bottom:auto;
  margin-left: 130px;
  width: 500px;
  height: 20px;
  vertical-align: auto;
  align-items: center;
}

